<div class="container">
  <div class="row p_posts_show">
    <div>
      <%= image_tag @user.get_user_image(50, 50), class: "user_icon my-3" %>
      <%= @user.name %>
    </div>
    <!--投稿画像-->
    <%= image_tag @post.get_post_image(400, 400) %>

      <!--投稿タイトル-->
      <div class="p_posts_show text-break">
      <h3><%= simple_format(@post.title) %></h3>
      </div>
      <!--投稿キャプション-->
      <div class="p_posts_show text-break">
      <%= simple_format(@post.body) %>
      </div>

      <div class="d-flex justify-content-between p_posts_show">
      <% if @post.user == current_user %>
        <!--投稿削除-->
        <span><%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger" %></span>
        <!--投稿編集-->
        <span><%= link_to "編集", edit_post_path(@post), class: "btn btn-light" %></span>
        <!--いいね-->
        <h3 id="favorite_buttons_<%= @post.id %>">
          <%= render "public/favorites/favorite", post: @post %>
        </h3>
      <% else %>
        <span></span>
        <!--いいね-->
        <h3 id="favorite_buttons_<%= @post.id %>">
          <%= render "publuc/favorites/favorite", post: @post %>
        </h3>
      <% end %>
      </div>

  </div>

  <div class="row justify-content-center my-3">
    <%= button_to 'ダウンロードボタン', download_path(@post.id), method: :get, class: "btn btn-light my-1" %>
  </div>

  <!--コメント表示-->
  <div class="row justify-content-center">
    <p>コメント件数：<%= @post.comments.count %></p>
    <table class="table">
      <tbody>
          <% @post.comments.each do |comment| %>
            <tr>
              <td><%= image_tag comment.user.get_user_image(50, 50), class: "user_icon" %></td>
              <td><%= comment.user.name %></td>
              <!--<td><%#= comment.created_at.strftime('%Y/%m/%d') %></td>-->
              <td><%= comment.comment %></td>
              <% if comment.user == current_user %>
                <td><%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-sm btn-danger" %></td>
              <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <!--コメントフォーム-->
  <div class="row justify-content-center mb-3">
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_field :comment, rows: '5', placeholder: "Comments" %>
      <%= f.submit "送信する", class: "btn btn-light" %>
    <% end %>
  </div>
</div>