<div class="container font">
  <h1 class="my-3">Results</h1>
    <!--検索対象モデルがUserの時 -->
    <% if @range == "User" %>
      <div id="followsearch-ajax">
        <%= render "public/relationships/follow", users: @users_search %>
      </div>
      <!--ページネーション-->
      <div class="row justify-content-center">
        <%= paginate @users_search %>
      </div>
    <% elsif @range == "Tag" %>
      <div class="row">
        <!--検索対象モデルがTagの時 -->
        <% @tags.each do |tag| %>
         <% tag.posts.each do |post| %>
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_post_image(190, 190), class: "mx-3 my-3" %>
            <% end %>
          <% end %>
        <% end %>
        <!--ページネーション-->
        <div class="row justify-content-center">
          <%= paginate @tags %>
        </div>
    <% else %>
        <!--検索対象モデルがPostの時 -->
        <%= render "public/posts/index", posts: @posts %>
        <!--ページネーション-->
        <div class="row justify-content-center">
          <%= paginate @posts %>
        </div>
      </div>
    <% end %>
</div>