<h2 class="my-3">Sign Up</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field row justify-content-center mb-5">
    <%= f.label :name, "ニックネーム", class: "col-3" %>
    <%= f.email_field :name, autofocus: true, autocomplete: "name", class: "col-5" %>
  </div>

  <div class="field row justify-content-center mb-5">
    <%= f.label :email, "メールアドレス", class: "col-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-5" %>
  </div>

  <div class="field row justify-content-center mb-5">
    <%= f.label :password, "パスワード(6文字以上)", class: "col-3"%>
    <%= f.password_field :password, autocomplete: "new-password", class: "col-5" %>
  </div>

  <div class="field row justify-content-center mb-5">
    <%= f.label :password_confirmation, "パスワード（確認）", class: "col-3" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-5" %>
  </div>

  <div class="actions text-center mb-5">
    <%= f.submit "新規登録", class: "btn btn-lg btn-light" %>
  </div>
<% end %>

<div class="row my-3">
  <%= render "public/shared/links" %>
</div>