<div class="container font">
  <h2 class="my-3">Log In</h2>

  <%= form_with model: @user, url: user_session_path, id: "new_user", class: "new_user",local: true do |f| %>
    <div class="field row justify-content-center mb-5">
      <%= f.label :email, "メールアドレス", class: "col-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-5" %>
    </div>

    <div class="field row justify-content-center mb-5">
      <%= f.label :password, "パスワード", class: "col-3" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "col-5" %>
    </div>

    <div class="actions text-center mb-3">
      <%= f.submit "ログイン", class: "btn btn-lg btn-light" %>
    </div>

    <div class="actions text-center mb-5">
      <%= link_to 'ゲストログイン（閲覧専用）', users_guest_sign_in_path, class: "btn btn-lg btn-light sign_in", method: :post %>
    </div>
  <% end %>

  <div class="row my-3">
    <%= render "public/shared/links" %>
  </div>
</div>