<table class="table">
  <tbody>
     <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user), class: "text-decoration-none" do %>
              <%= image_tag user.get_user_image(50, 50), class: "user_icon" %>
            <% end %>
          </td>
          <td><span><%= user.name %></span></td>  <!--ユーザーネーム-->
          <td>Follow: <%= user.followings.count %></td> <!--フォロー数-->
          <td>Follower: <%= user.followers.count %></td> <!--フォロワー数-->

          <!--フォローボタン-->
          <% if user != current_user %>
            <td>
              <% if current_user.following?(user) %>
                <%= link_to "フォロー外す", user_relationships_path(user.id, word: @word, search: @search ), method: :delete, remote: true, class: "btn btn-light" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id, word: @word, search: @search ), method: :post, remote: true, class: "btn btn-light" %>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>