<div class="row justify-content-center my-3">
  <%= image_tag @user.get_user_image(250, 250) %><br>
</div>
<!--ニックネーム-->
<div class="row justify-content-center mb-3">
  <h3><%= @user.name %></h3>
</div>
<!--メールアドレス ログインユーザーのみ-->
<% if @user == current_user %>
  <div class="row justify-content-center mb-3">
    <h5><%= @user.email %></h5>
  </div>
<% end %>
<!--ユーザーのキャプション-->
<div class="row justify-content-center mb-3">
  <p><%= @user.user_caption %></p>
</div>
<!--ボタン一覧（ログインユーザーかどうかで表示が変わる）-->
<div class="row justify-content-center mb-3">
  <% if @user == current_user %>
    <%= link_to "UserEdit", edit_user_path, class: "btn btn-success  btn-lg mx-3" %>
    <%= link_to "Favorite", favorites_user_path(@user), class: "btn btn-success btn-lg mx-3" %>
    <%= link_to "Follow", followings_user_path(@user), class: "btn btn-success btn-lg mx-3" %>
    <%= link_to "Follower", followers_user_path(@user), class: "btn btn-success btn-lg mx-3" %>
    <%= link_to 'NewIcon', new_post_path, class: "btn btn-success btn-lg mx-3" %>
  <% else %>
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn" %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn" %>
    <% end %>
  <% end %>
</div>
<!--ユーザーの投稿一覧 10件でページネーション-->
<div class="row">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <%= image_tag post.get_post_image(100, 100) %>
    <% end %>
  <% end %>
</div>